.containerContact {
  margin-top: 141px;
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 1.5s ease-out,
    transform 1.5s ease-out;
}
.containerContact.visible {
  opacity: 1;
  transform: translateY(0);
}
.containerContact h2,
.containerContact p {
  margin: 0 auto;
  max-width: 1440px;
}
.containerContact h2 {
  text-transform: uppercase;
}
.containerContact p {
  margin-top: 17px;
}
.softText {
  color: var(--textSoft);
}

@media screen and (max-width: 1440px) {
  .containerContact h2,
  .containerContact p {
    margin-left: 65px;
    margin-right: 65px;
  }
}
@media screen and (max-width: 1240px) {
  .containerContact h2,
  .containerContact p {
    margin-left: 35px;
    margin-right: 35px;
  }
}

@media screen and (max-width: 650px) {
  .containerContact h2,
  .containerContact p {
    margin-left: 15px;
    margin-right: 15px;
  }
}
