.services {
  display: flex;
  height: 70vh;
  overflow: hidden;
}
.containerServices {
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 141px;
}
.containerServices h2 {
  margin-bottom: 55px;
  text-transform: uppercase;
}
.softText {
  color: var(--textSoft);
}
.wrapperContent {
  flex: 1;
  overflow-y: scroll;
  height: 48vh;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.progressBar {
  width: 2px;
  background-color: #3a363c;
  position: relative;
  left: 0px;
  right: 0;
  height: 71%;
  margin-top: 15px;
}

.progress {
  width: 100%;
  background-color: #ee00ff;
}

.content {
  display: flex;
  flex-direction: column;
  height: 70vh;
  margin-left: 15px;
}

.contentInformation {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  transition: color 0.3s;
}
.contentInformation p {
  font-size: 20px;
  font-weight: 300;
  margin-top: 8px;
}
.contentInformation.inactive {
  color: #474648;
}

.contentInformation.active {
  color: white;
}
.wrapperServices {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 1440px) {
  .containerServices {
    margin-left: 65px;
    margin-right: 65px;
  }
}
@media screen and (max-width: 1300px) {
  .contentInformation {
    width: 81%;
  }
}
@media screen and (max-width: 1240px) {
  .containerServices {
    margin-left: 35px;
    margin-right: 35px;
  }
}
@media screen and (max-width: 1190px) {
  .wrapperServices {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .contentInformation {
    width: 100%;
  }
}
@media screen and (max-width: 650px) {
  .containerServices {
    margin-left: 15px;
    margin-right: 15px;
  }
}
