.inputForm input {
  border-radius: 20px;
  border: none;
  font-size: 23px;
  font-weight: 300;
  padding: 21px 0px 21px 23px;
  width: 100%;
  background-color: #3a363c;
}
.inputForm input::placeholder {
  color: var(--text);
}
.inputForm input:focus-visible {
  outline: none;
}
.errorMessage {
  font-size: 15px;
  color: red;
}
@media screen and (max-width: 1050px) {
  .inputForm input {
    width: 97.5%;
  }
}
@media screen and (max-width: 770px) {
  .inputForm input {
    width: 96.5%;
  }
}
@media screen and (max-width: 500px) {
  .inputForm input {
    width: 94.5%;
  }
}
@media screen and (max-width: 360px) {
  .inputForm input {
    width: 93.5%;
  }
}
@media screen and (max-width: 450px) {
  .inputForm input {
    font-size: 19px;
  }
}
