.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 23px 0px 15px 0px;
  margin: 0 auto;
  max-width: 1440px;
}
@media screen and (max-width: 1440px) {
  .header {
    margin-left: 65px;
    margin-right: 65px;
  }
}
@media screen and (max-width: 1240px) {
  .header {
    margin-left: 35px;
    margin-right: 35px;
  }
}
@media screen and (max-width: 650px) {
  .header {
    margin-left: 15px;
    margin-right: 15px;
  }
}
