.containerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 23px 0px 15px 0px;
  margin: 0 auto;
  max-width: 1440px;
}
.header {
  background-color: var(--bg);
}
.sticky {
  position: sticky;
  top: 0;
  background-color: var(--bg);
  animation: slideDown 0.35s ease-out;
  z-index: 2000;
}

@media screen and (max-width: 1440px) {
  .header {
    padding-left: 65px;
    padding-right: 65px;
  }
}
@media screen and (max-width: 1240px) {
  .header {
    padding-left: 35px;
    padding-right: 35px;
  }
}
@media screen and (max-width: 650px) {
  .header {
    padding-left: 15px;
    padding-right: 15px;
  }
}
