.itemStack {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #3a363c;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.itemStack img {
  max-width: 75px;
  transform: rotate(315deg);
}
.containerStacks {
  display: flex;

  gap: 30px;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg);
  margin: 0 auto;
  margin-right: 97px;
  position: relative;
  top: -65px;
}
@media screen and (max-width: 1300px) {
  .containerStacks {
    margin-right: 120px;
  }
}
@media screen and (max-width: 1285px) {
  .containerStacks {
    margin-right: 82px;
  }
}
@media screen and (max-width: 1190px) {
  .containerStacks {
    margin-right: 0px;
    margin: 0;
  }
}
@media screen and (max-width: 790px) {
  .itemStack {
    width: 65px;
    height: 65px;
  }
  .itemStack img {
    max-width: 45px;
  }
}
@media screen and (max-width: 600px) {
  .itemStack {
    width: 75px;
    height: 75px;
  }
  .itemStack img {
    max-width: 55px;
    transform: rotate(0deg);
  }
  .containerStacks {
    transform: rotate(0deg);
  }
}
